<div class="template template-editor" data-editor data-template data-template-type="editor">
    <p id="editor" data-editable date-desc data-content-type="text">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus saepe, voluptates! Accusamus ad
        alias at, consequuntur corporis doloremque, enim esse fugiat id laudantium minus modi, molestiae
        numquam optio quidem rem sed tempora totam ullam voluptas. Aut cum debitis delectus deserunt dolorem
        eaque ex iusto, mollitia nisi, nulla praesentium, vero voluptatem.
    </p>
</div>