<div class="template hero-template template-row" data-template="12" data-template-type="hero">
    <div class="hero-template__text">
        <div class="editable-wrapper">
            <div class="editable">
                <h2 data-editable data-content-type="title">Lorem ipsum dolor sit.</h2>
                <p class="desc" data-editable data-content-type="text">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus saepe, voluptates! Accusamus
                    ad alias at, consequuntur corporis doloremque, enim esse fugiat id.
                </p>
            </div>
        </div>
    </div>
    <div class="hero-template__img">
        <div class="upload-drop-area is-empty">
            <input type="file" name="fileName" data-image accept="image/*"/>
        </div>
    </div>
</div>
