<div class="template template-row img-template" data-template="4" data-template-type="image">
    <div class="template-col-12">
        <div class="editable-wrapper">
            <div class="img-wrapper editable">
                <div class="upload-drop-area is-empty">
                    <input type="file" name="fileName" data-image accept="image/png, image/gif, image/jpeg"/>
                </div>
                <span class="img-description" data-editable data-content-type="caption">Lorem ipsum dolor sit.</span>
            </div>
        </div>
    </div>
</div>
