.layout {
    border: 1px dashed rgba(0, 0, 0, .2);

    .template {
        margin: 1rem;
    }

    .droppable-divider {
        height: 100%;
        min-height: 9rem;

        svg {
            display: none;
        }

        &:hover {
            height: 100% !important;
        }

        &.is-hidden {
            height: 0 !important;
            display: none !important;
        }
    }

    [data-template] {
        .duplicate-template-btn {
            display: none !important;
        }
    }

    .uploaded-file--file{
        flex-direction: column;
        gap: 1rem;
    }

    .embed-template {
        min-height: auto;
    }

    &.border-is-hidden {
        border: none;

        .layout__col-6 {
            &:first-of-type {
                border-right: none;
            }
        }
    }

    &.is-selected {
        &:before {
            width: calc(100% + 1rem);
            margin-left: -0.5rem;
            height: calc(100% + 1rem);
        }
    }

    .template.is-selected {
        &:before {
            width: calc(100% + 1rem);
            margin-left: -0.5rem;
            height: calc(100% + 1rem);
        }
    }

    .remove-template-btn {
        right: -.75rem;
        top: -.75rem;
    }

    .drag-template-btn {
        right: 1.5rem;
        top: -.75rem;
    }

    .duplicate-template-btn {
        right: 3.75rem;
        top: -.75rem;
    }
}

.layout__inner {
    display: flex;
    justify-content: space-evenly;
    min-height: 10rem;
    flex-wrap: wrap;

    .droppable-divider--basis, .droppable-divider--basis.droppable {
        height: 100%;
    }

    .droppable-divider--basis.is-droppable {
        .droppable-divider__inner {
            height: 100% !important;
        }
    }

    .droppable-divider__inner {
        height: 100% !important;
    }
}

.layout__col {
    padding: .5rem;

    .embed-template {
        height: auto;
    }

    .img-template {
        height: 100%;
        margin: 0;
        &:before{
            content: none;
        }

        .template-col-12, .editable-wrapper, .img-wrapper {
            height: 100%;
        }
    }

    .upload-drop-area {
        outline: none;
        border: none;
        width: 100%;
    }
}

.layout__col-12 {
    max-width: calc(100% - 1rem);
    flex: 0 0 calc(100% - 1rem);

    &:first-of-type {
        border-bottom: 1px dashed rgba(0, 0, 0, .2);
    }
}

.layout__col-6 {
    max-width: calc(50% - 1rem);
    flex: 0 0 calc(50% - 1rem);
    border-right: 1px dashed rgba(0, 0, 0, .2);

    &:last-of-type {
        border-right: 0;
    }
}

.layout__col-4 {
    max-width: calc(33% - 1rem);
    flex: 0 0 calc(33% - 1rem);
    margin-inline: auto;
    border-right: 1px dashed rgba(0, 0, 0, .2);

    &:last-of-type {
        border-right: 0;
    }
}
